<div>
    <div style="display:none;" th:fragment="title" th:inline="text">[[${BLC_PAGE.description}]] - Broadleaf Demo - Heat Clinic</div>
    
    <section id="left_column">
        <div id="qpaper_content">
            <div id="content_title" th:utext="${BLC_PAGE.pageFields[HTMLtitle]}"></div>
			<div class="clearfix"></div>
			<div class="pdf_link">
			<!-- <a 	th:attr="onClick=${'createPDFForm(''__${BLC_PAGE.pageFields[title]}__'')'}"
                href="javascript:;" ><img th:src="@{/img/PDF_Icon.png}" alt="Download PDF" /><span>Download PDF</span></a>
                 -->
            <form id="myform" th:action="@{/createPDF}">
  				<!-- form elements -->
  				<a href="#" onclick="createPDFForm()"><img th:src="@{/img/PDF_Icon.png}" alt="Download PDF" /><span>Download PDF</span></a>
				<input type="hidden" name="title" th:value="${BLC_PAGE.pageFields[title]}"/>
				<input type="hidden" name="title" th:value="${BLC_PAGE.pageFields[body]}"/>
			</form>     
            </div>
			<div id="content_body" th:utext="${BLC_PAGE.pageFields[HTMLbody]}"></div>
		</div>
    </section>
    
    <section id="right_column">
        <header>Featured Products</header>
        <div id="options">
            <div class="section">
                 <blc:related_products categoryId="2001" quantity="3"/>  
                 <ul id="featured_products" class="group">
                    <li th:each="product : ${products}" th:object="${product}" th:include="catalog/partials/productListItem" class="product_container"></li>
                 </ul>
            </div>                                  
        </div>
    </section>  
</div>
<script>

</script>
        
            
